.semester-container {
  padding: 30px;
  background: #f6f7fb;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header h2 {
  margin: 0;
}

.header p {
  color: gray;
}


.semester-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 25px;
}

.semester-card {
  background: white;
  padding: 30px 20px;
  border-radius: 14px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  transition: 0.3s;
}

.semester-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  border: 1px solid black;
}

.semester-card h3 {
  margin-bottom: 10px;
}

.semester-card span {
  color: gray;
}
