.settings-page {
  background: #ffffff;
  min-height: 95vh;
  width: 100%;
  padding: 40px 0;
  font-family: "Segoe UI", sans-serif;
}

.settings-container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 5rem;
}



.settings-card {
  background: #F3F4F6;
  border-radius: 14px;
  padding: 22px;
  box-shadow: 0 0px 2px rgba(0,0,0,0.08);
  border: 1px solid #eee;
  
}

.settings-card h3 {
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 600;
}

.hint {
  font-size: 13px;
  color: #666;
  margin-bottom: 14px;
}

.settings-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
}

.settings-card input:focus {
  border-color: #4f46e5;
}

.settings-card small {
  font-size: 12px;
  color: #888;
}

.btn-save {
  margin-top: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #4f46e5;
  color: white;
  font-weight: 500;
  cursor: pointer;
  float: right;
}

.btn-save:hover {
  background: #4338ca;
}

.danger {
  border: 1px solid #ffd4d4;
}

.btn-delete {
  background: #dc2626;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-delete:hover {
  background: #b91c1c;
}

@media (max-width:900px){
  .settings-page{
    padding: 1rem;
  }
  
}