.student-sidebar {
  width: 250px;
  height: 100vh;
  background: #f2f3f5;
  padding: 20px;
  position: fixed;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.student-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.student-header h2 {
  font-size: 22px;
  color: #111827;
}

/* MENU */
.student-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* MENU ITEM */
.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 16px;
  border-radius: 12px;
  text-decoration: none;
  color: #374151;
  transition: 0.3s;
}

.menu-item:hover {
  background: #e5e7eb;
}

.menu-item.active {
  background: #dbeafe;
  color: #2563eb;
}

/* PUSH LOGOUT TO BOTTOM */
.student-bottom {
  margin-top: auto;
  border-top: 1px solid #d1d5db;
  padding-top: 20px;
}

/* LOGOUT */
.logout-btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: #f8d7da;
  color: #dc2626;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.student-profile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.student-profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.student-profile h4 {
  margin: 0;
  font-size: 15px;
}

.student-profile p {
  margin: 0;
  font-size: 13px;
  color: #6b7280;
}

/* MOBILE TOPBAR */
.mobile-topbar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: white;
  border-bottom: 1px solid #e5e7eb;
  align-items: center;
  padding: 0 15px;
  gap: 15px;
  z-index: 1000;
}

/* MOBILE */
@media (max-width: 900px) {

  .mobile-topbar {
    display: flex;
  }

  .student-sidebar {
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 0;
    position: fixed;
    transition: 0.3s ease;
    z-index: 999;
  }

  .student-sidebar.show {
    left: 0;
  }

  .student-content {
    margin-left: 0;
    padding-top: 60px;
  }
  .logout-btn {
    width: 100px;
  }


}