.notfound-container {
  height: 100vh;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;
}

.notfound-card {
  text-align: center;
}

.notfound-animation {
  width: 350px;
  margin: auto;
}

.notfound-card h1 {
  font-size: 70px;
  color: #4f46e5;
  margin: 10px 0;
}

.notfound-card p {
  font-size: 20px;
  color: #555;
  margin-bottom: 20px;
}

.notfound-card button {
  padding: 10px 20px;
  border: none;
  background: #4f46e5;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.notfound-card button:hover {
  background: #4338ca;
}
