.admin-layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; /* prevents sideways shift */
}

/* sidebar (important) */
.admin-layout > *:first-child{
  flex-shrink: 0;
}

/* content */
.content {
  flex: 1;
  min-height: 100vh;
  overflow-y: auto;
  background: #f9fafb;
  padding: 20px;
  min-width: 0; /* ⭐ prevents overflow bug */
}

/* MOBILE */
@media (max-width:900px){

  .admin-layout{
    flex-direction: column;
  }

  .content{
    width:100%;
    padding:15px;
  }

}